@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling for logo container */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/* Default logo image styling */
.logo img {
    width: 100px;
}

/* University name styling */
.universityName {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

/* Link styling */
.universityName a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 20px;
}

/* Responsive styling for screens less than 780px */
@media (max-width: 780px) {
    .logo {
        width: 60px; /* Adjusted width for smaller screens */
        padding-left: 42px;
    }

    .logo img {
        width: 80px; /* Smaller logo size */
    }

    .universityName a {
        font-size: 19px; /* Reduced font size */
    }
}

/* Additional styling for screens less than 480px */

@media (max-width: 480px) {
    .logo{
        width: 30%;
        margin-left: 20px;
    }
    .logo img{
        width: 100px;
    }
    .universityName a {
        font-size: 19px; /* Reduced font size */
        padding-left: 2px;
    }

  }
